 <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
<div class="card shadow">
  <h5 class="card-header">
    Product
  </h5>
  <div class="card-body">
    {{#if this.error}}
    <div class="alert alert-danger" role="alert">
      Invalid productId. <a href="/" class="alert-link">Go home</a>.
    </div>
    {{else}}
      {{#each this.k}}
      <img src="/pic/{{pic}}" alt="{{ProName}}" class="card-img-top">
      
      <h6>                            </h6>
  {{/each}}
    {{#with this.product}}
    <div class="card border-0">
    
      <div class="card-body">
        <h2 class="card-title">{{ProName}}</h2>
        <p class="card-text">Giá bán: <span class="text-danger font-weight-bold">{{format_number Price}}</span></p>
        <p class="card-text">Tồn kho: {{Quantity}}</p>
        <p class="card-text">
          {{{FullDes}}}
        </p>
        <p class="card-text text-muted">
          <small>Last upadated 3 minutes ago.</small>
        </p>
      </div>
    </div>
    {{/with}}
    {{/if}}
    {{#each showcmt}}
     <form >
   <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">{{f_Name}}</label>
    <div class="col-sm-10">
      <input type="text"  readonly class="form-control-plaintext" id="staticEmail" value="{{Content}}">
    </div>
  </div>
  </form>
  {{/each}}
    <form method="POST" >
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name="username" readonly class="form-control-plaintext" id="staticEmail" value="{{authUser.f_Name}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Comment</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  name="comment" placeholder="comment">
    </div>
  </div>
   <div class="flex-fill ml-1">
              <button class="btn btn-info btn-lg btn-block" type="submit">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
               Comment 
              </button>
            </div>
</form>

<div class="card-body">
 
  
<div class="card-header"><center>RELATED</center></div>
  <div class="row">
 {{#each productRelate}}
     
      <div  id="d"class="row" >
		<div class="col-md-6" >
			<a  href="/products/{{ProName}}">
				<img class="img-fluid" src="/pic/{{ProID}}.jpg" width="150" height="120">
			</a>
		</div>
		<div  class="col-md-6">
			
			<a style="color:black"  href="/products/{{ProName}}" ><h3>{{ProName}}</h3>
			
			<p>{{TinyDes}}</p></a>
       <small>{{CreatedAt}}</small>
		</div>
	</div>
      
  {{/each}}
  </div>
 
 
</div>
  </div>
  
</div>