<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput1").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tbsub tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$(document).ready(function(){
  $("#myInput2").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tbg tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<form id="formEdit" method="POST">
<div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Table List</a>
            </div>
            <div class="collapse navbar-collapse">
               
                <ul class="nav navbar-nav navbar-right">
                   
                    <li>
                        <a href="/account/logout">
                            <p>Log out</p>
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Độc giả (Subscriber)</h4>
                            <p class="category">Danh sách tài khoản</p>
                            <input id="myInput1" type="text" placeholder="Tìm kiếm..">
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Họ tên</th>
                                        <th scope="col">Tên đăng nhập</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Ngày hết hạn</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="tbsub">
                                    {{#each subscriber}}
                                    <tr>
                                        <th scope="row">{{f_ID}}</th>
                                        <td>{{f_Name}}</td>
                                        <td>{{f_Username}}</td>
                                        <td>{{f_Email}}</td>
                                        <td>{{CreatedAt}}</td>
                                        <td class="text-right">
                                            <span><a class="btn btn-primary btn-sm" href="/user/edit/user/{{f_ID}}"
                                                    role="button" title="Sửa">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a></span>
                                            <span><button class="btn btn-danger btn-sm" formaction="/user/delete/{{f_ID}}"
                                                    onclick="doPreview();" role="button" title="Xóa tài khoản">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button></span>
                                            <span><button class="btn btn-secondary btn-sm"
                                                    formaction="/user/backtoguest/{{f_ID}}" role="button" title="Chuyển về Guest">
                                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                </button></span>
                                                <span><button class="btn btn-success btn-sm" formaction="/user/extend/{{f_ID}}"
                                                role="button" title="Gia hạn Subscriber">
                                                    <i class="fa fa-level-up" aria-hidden="true"></i>
                                                </button></span>
                                            <span><input type="hidden" id="a" name="userid" value="{{f_ID}}"></span>
                                            
                                        </td>
                                        
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


</div>
</div>
</div>
<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Độc giả vãng lai (Guest)</h4>
                            <p class="category">Danh sách tài khoản</p>
                            <input id="myInput2" type="text" placeholder="Tìm kiếm..">
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Họ tên</th>
                                        <th scope="col">Tên đăng nhập</th>
                                        <th scope="col">Email</th>
                                        <th scope="col" class="text-right">
                                            <a class="btn btn-outline-success btn-sm" href="/user/admin/register/1"
                                                role="button" title="Add">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                Thêm tài khoản
                                            </a>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="tbg">
                                    {{#each guest}}
                                    <tr>
                                        <th scope="row">{{f_ID}}</th>
                                        <td>{{f_Name}}</td>
                                        <td>{{f_Username}}</td>
                                        <td>{{f_Email}}</td>
                                        <td class="text-right">
                                            <span><a class="btn btn-primary btn-sm" href="/user/edit/user/{{f_ID}}"
                                                    role="button" title="Sửa">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a></span>
                                            <span><button class="btn btn-danger btn-sm" formaction="/user/delete/{{f_ID}}"
                                                    onclick="doPreview();" role="button" title="Xóa tài khoản">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button></span>
                                                <span><button class="btn btn-success btn-sm" formaction="/user//{{f_ID}}"
                                                    onclick="doPreview();" role="button" title="Nâng cấp Subscriber">
                                                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                                                </button></span>
                                            <span><input type="hidden" id="a" name="userid" value="{{f_ID}}"></span>
                                            
                                        </td>
                                        
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


</div>
</div>
</div>

</div>
</form>